
body{
    background-color: rgb(253, 253, 253);
}
#menu{
    background-color: rgb(202, 245, 185);
    
}

.logo{
    width:100px;
    border-radius: 70px;
    border: solid 1px black;
   
}
.tar{
    color:black;
    width:350px;
    font-size: 20px;
    
   
}

.tra2{
    border: solid 2px rgb(26, 25, 25);
    
   
}

.tra2:hover{
    box-shadow: 3px 3px 3px rgb(95, 95, 95);
}

.joya{
    height:320px;
    
    
}

.aro{
    height: 320px
}

.item{
    margin-right: 8rem;
}
.items{
    margin-left: 2rem;
}