
body{
    background-color: rgb(253, 253, 253);
}
#menu{
    background-color: rgb(186, 255, 200);
    
}

.logo{
    width:100px;
    border-radius: 60px;
    border: solid 1px rgb(91, 153, 105);
   
}

section{

     display: flex;
     flex-wrap: wrap;
   flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.tar{
    color:black;
    border: solid 1px rgb(195, 196, 195);
    border-radius: 3%;
    width:170px;
    font-size: 16px; 
     
}




.joya{
    width:168px;        
}



.item{
    margin-right: 8rem;
}
.items{
    margin-left: 2rem;
}

.section{
    text-align: center;
}

.iwsp{
    color: rgb(10, 167, 10);
    width: 1rem;
    margin-left: 15px;
    
    
}

.numero{
    color: white;
    text-decoration: none;
    margin-left:8px;
    
}

.numero:hover{
    color:rgb(10, 167, 10);
}



.c{
    text-align: center;
    margin-left: 600px;
    
}

.wspa{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: rgb(221, 221, 221);
    font-size: 35px;
    background-color: rgb(18, 196, 27);
    border-radius: 50px;
    width: 55px;
    height: 52px;

}


