
body{
    background-color: rgb(253, 253, 253);
}
#menu{
    background-color: rgb(186, 255, 200);
    
}

.logo{
    width:100px;
    border-radius: 60px;
      
}
.titulop{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
section{

      display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 40px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(186, 255, 200);
    width: 1346px;
    margin-left: -120px;
   
    
}

.botonfil{
    margin-left: 160px;

}
.tar{
    color:black;
    border: solid 1px rgb(192, 191, 191);
    border-radius: 3%;
    width: 150px;
    font-size: 20px; 
   
     
}






.joya{
    width:149px;        
}



.item{
    margin-right: 8rem;
}
.items{
    margin-left: 2rem;
}

.section{
    text-align: center;
}

.iwsp{
    color: rgb(10, 167, 10);
    width: 1rem;
    margin-left:13px;
    
    
}

.numero{
    color: white;
    text-decoration: none;
    margin-left:2px;
    
    
}

.numero:hover{
    color: rgb(121, 240, 145);
}



.c{
    text-align: center;
    margin-left: 600px;
    
}

.wspa{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: rgb(221, 221, 221);
    font-size: 35px;
    background-color: rgb(18, 196, 27);
    border-radius: 50px;
    width: 55px;
    height: 52px;

}




